<div class="mainHeader">
    <div class="flex-header">
        <div class="logo">
            <img src="https://file.hstatic.net/1000281824/file/tote-1_33445b051a404bb790b6d0df0275ac8d.png" alt="">
        </div>

        <div class="list">
            <p>Trang chủ</p>
            <p>Sản phẩm</p>
            <p>Store</p>
            <p>Giới thiệu</p>
        </div>

        <div class="search">
            <mat-icon >search</mat-icon>
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
        </div>

        <div class="cart">
            <div (click)="openDialog()" class="cartlogo">
                <img src="../../../assets/images/cart.png" alt="">
            </div>
            <span>Giỏ hàng</span>
            <dialog id="dialog" >
                <div class="exit">
                    <span onclick="performClose()" class="material-symbols-outlined">close</span>
                </div>
                <p >Giỏ hàng</p>
                <div class="content-input">
                    <!-- <div class="product-bill">
                        <span>Degrey Simili Tote Matcha - SITOM</span>
                        <span>Số lượng: </span>
                        <span>Giá tiền: </span>
                        <button>xóa</button>
                        <button>sửa</button>
                    </div>
                    <div class="product-bill">
                        <span>Degrey Simili Tote Matcha - SITOM</span>
                        <span>Số lượng: </span>
                        <span>Giá tiền: </span>
                        <button>xóa</button>
                        <button>sửa</button>
                    </div> -->
                </div>
                <hr>    
                <div class="bill-input">
                    <!-- <div class="text-bill">
                        <p>Tổng tiền: </p>
                    </div> -->
                    <!-- <div class="btn-confirm">
                        <button>Đặt hàng</button>
                    </div> -->
                </div>
            </dialog>
        </div>
    </div>
</div>


<dialog #appDialog>
    <form class="form" [formGroup]="productForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          placeholder="Enter price"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="quantity"
          formControlName="image"
          placeholder="Enter image"
        />
      </div>
    </form>
    <div class="btn">
      <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
      <button
        (click)="addProduct(productForm.value)"
        mat-flat-button
        color="primary"
      >
        Submit
      </button>
    </div>
  </dialog>
  