// #container{
//   background-color: white;
// }
#item_form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#container {
  height: 100%;
  width: 100%;
  //display: flex;
  background-color: white;

  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }

  #item_form {
    display: flex;
    flex-direction: column;
  }
  .example-button-container {
    width: 100%;
  }
}